.card {
    border-radius: 10px;
  }
  
  .card-header {
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card-body {
    padding: 0;
  }
  
  .table {
    margin-bottom: 0;
  }
  
  .table th,
  .table td {
    border-top: none;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa;
  }
  
  .btn {
    border-radius: 5px;
    margin-right: 5px;
    text-align: center;
  }
  
  .btn span {
    margin-right: 5px;
  }
  
  .material-icons {
    vertical-align: middle;
  }
  